<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>Фильтрация</h2>
<form >
    <input type="text" name="nameproduct">
    <button formmethod="post"  formaction="/product/filterContains/result" type="submit">Найти вхождения</button>
    <button formmethod="post"  formaction="/product/filterAll/result" type="submit">Найти целиком</button>
    <table border="1" style="border-collapse">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Страна</th>
            <th>Описание</th>
        </tr>
        <tr  th:each="el : ${result}" style="align:left;">
            <td th:text="${el.nameproduct}" style="border:2px solid black;"></td>
            <td th:text="${el.price}" style="border:2px solid black;"></td>
            <td th:text="${el.value}" style="border:2px solid black;"></td>
            <td th:text="${el.country}" style="border:2px solid black;"></td>
            <td th:text="${el.description}" style="border:2px solid black;"></td>
        </tr>
</form>
</body>
</html>