<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление новой статьи</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Навигация</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/products">Список Товаров</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main">Список Сотрудников</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>


</header>
<body>
<form  th:object="${product}" method="post">
  <input type="text" th:field = "*{nameproduct}" name="nameproduct" placeholder="Введите Название продукта">
  <div style="color: red" th:if="${#fields.hasErrors('nameproduct')}" th:errors="*{nameproduct}"></div></br>
  <input value="0" th:field = "*{price}" type="number" name="price" placeholder="Введите Цену">
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div></br>
  <input value="0"  th:field = "*{value}" type="number" name="value" placeholder="Введите Колличество">
  <div style="color: red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></div></br>
  <input type="text" th:field = "*{country}" name="country" placeholder="Введите Страну производителя">
  <div style="color: red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div></br>
  <input type="date" value="2017-06-01"  th:field = "*{creationdate}"  name="creationdate" placeholder="Введите дату">
  <div style="color: red" th:if="${#fields.hasErrors('creationdate')}" th:errors="*{creationdate}"></div></br>
  <textarea  type="text"  th:field = "*{description}" name="description" placeholder="Введите описание"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  <br>
  <button type="submit">Добавить товар</button>
</form>
</body>
</html>