<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Сотрудники</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Навигация</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/products">Список Товаров</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main">Список Сотрудников</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

</header>
<body>
<h1>Все товары</h1>
<p style="margin: 0 10 0 5;"><a style="margin: 0 10 0 5;" href="/product/filter">Поиск товара по названию</a></p>
<p style="margin: 0 10 0 5;"><a style="margin: 0 10 0 5;" href="/product/add">Добавить товар</a></p>

</br>
<div style="height:50px"></div>
<table border="1" style="border-collapse">
  <tr>
    <th>Название</th>
    <th>Цена</th>
    <th>Количество</th>
    <th>Страна</th>
    <th>Описание</th>
    <th>Дата производства</th>
    <th>Информация</th>
  </tr>
  <tr  th:each="el : ${products}" style="align:left;">
    <td th:text="${el.nameproduct}" style="border:2px solid black;"></td>
    <td th:text="${el.price}" style="border:2px solid black;"></td>
    <td th:text="${el.value}" style="border:2px solid black;"></td>
    <td th:text="${el.country}" style="border:2px solid black;"></td>
    <td th:text="${el.description}" style="border:2px solid black;"></td>
    <td th:text="${el.creationdate}" style="border:2px solid black;"></td>
    <td style="border:2px solid black;"><a th:href="'/product/'+${el.id}">Подробнее</a></td>
  </tr>
</table>



</body>
</html>