<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link  th:href="@{../styles/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Поставщики</title>
</head>
<header th:insert="/Blocks/Mainheader::headerMain"></header>
<body>
<h1 style="text-align:center;">Склады</h1>
<div>

    <div style=" margin: 0 10px 10px 50px; float:left;">
        <form>
            <input  type="text" name="address" placeholder="Адрес">
            <button formmethod="post"  formaction="/stocks/filter" type="submit">Поиск</button>

        </form>
        <table class="table_dark" >
            <tr>
                <th>Адрес</th>
            </tr>
            <tr  th:each="el : ${stocks}" style="align:left;">
                <td th:text="${el.address}" style="border:2px solid black;"></td>
                <td style="border:2px solid black;"><a th:href="'/stock/edit/'+${el.id}">Изменить</a></td>
                <td style="border:2px solid black;"><form method="post" th:action="'/stock/remove/'+${el.id}">
                    <button  type="submit"> Удалить </button>
                </form></td>
            </tr>
        </table>
    </div>
</div>
<div style="margin:0 0 0 25%; width:60%">
    <form action="/stocks/add"  th:object="${stock}" method="post">
        <textarea type="text"  th:field = "*{address}" name="address" placeholder="Введите адрес"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div></br>
        <br>
        <button type="submit">Добавить склад</button>
    </form>


</div>
</body>
</html>