<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Заголовок </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="Калькулятор" />
<form>
    <input type="number" name="numberA" value="0">

    <select name="action_type" class="form-select" aria-label="Выбор действия  ">
        <option value="1">+</option>
        <option value="2">-</option>
        <option value="3">*</option>
        <option value="4">/</option>
    </select>

    <input type="number" name="numberB" value="0">
    <label style="border: 1px solid gray;
                  border-radius: 2px;"
           name="answer" th:text="${answer}"/>

    <input formmethod="get" type="submit" name="calculateGet"
           value="Посчитать через get запрос" formaction="/calcByGet">
    <input formmethod="post" type="submit" name="calculatePost"
           value="Посчитать через post запрос" formaction="/calcByPost">
</form>
</body>
</html>