<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <link href="/styles/style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:insert="/Blocks/Mainheader::headerMain"></header>
<body style="background-color:#505050;background-repeat:no-repeat;background-size:cover;">

<div style="text-align:center;">
  <img width="40%" src="https://port-barbers.ru/articles/21.jpg" >
</div>
<h2>Немного истории</h2>
<pre style=" color:#F7FDA1">
    Еще 15-20 лет назад понятия «барбершоп» не существовало в лексиконе россиян, но сегодня заведения с брутальной атмосферой и
    набором суровых мужских процедур не вызывают удивления. Их история начинается в 30-х годах прошлого века, когда первые мужские
    парикмахерские, стилизованные под брутальные клубы, были открыты в США. Само понятие barbershop в буквальном переводе означает «магазин
    для бороды», но по своей сути под барбершопом понимают мужскую цирюльню, где нет места ничему женскому.
</pre>
<div style="text-align:center;">
  <img width="40%" src="https://port-barbers.ru/articles/23.jpg" >
</div>
<h2>Особенности барбершопов</h2>
<pre  style=" color:#F7FDA1">
  Отсутствие женщин — главная особенность барбершопа. Даже в укромных и самых отдаленных уголках заведения посетители
  не увидят услышат ни слова о ноготках и мейкапе, не поймают шлейф женского парфюма и не погрузятся невольно в историю
  чьих-то семейных отношений. Это не значит, что вход в заведение строго запрещен представительницам прекрасного пола.
  В барбершоп с удовольствием берут на работу девушек-мастеров, владеющих техниками стрижки и бритья.
</pre>
<h2>Наши соцсети</h2>
  <a href="https://vk.com/barbershopport">Vk</a>
</body>
</html>